body {
  background-color: #c1d5d3;
}

h1 {
  color: #47a7a7;
}

h3 {
  color: #47a7a7;
}
p {
  color: #135589;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: darkgrey;
  border-width: 7px;
  width: 4%;
}
img {
  border-radius: 50%;
}
html{
font-family: 'Open Sans', sans-serif;
}
